<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body id="app">
    
  </body>
  <script type="application/javascript" src="/javascripts/app.js"></script>
</html>
