.date-range{
    padding-top:50px;
}
.input-text{
    margin-top:8px;
    padding-right:15px;
}

.input-box{
    width:180px;
}
.input-box .css-1aya2g8{
    height:50px;
}
.input-box .css-2o5izw{
    height:50px;
}

.input-box-dual{
    width:300px;
}